.moxypay-emt-first-row{width:100%;}
.moxypay-emt-instructions{display:block;list-style-type:lower-roman;padding-left:17px;margin-bottom:15px;margin-left:0;}
.moxypay-emt-instructions li{margin-right:10px;}
.moxypay-emt-instructions li:not(.woocommerce-notice)::before{display:inline-block !important;}