/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


#woocommerce-order-moxypayemt-payments .woocommerce_order_items_wrapper table.woocommerce_order_items {
    width: 100%;
    background: #fff;
}

#woocommerce-order-moxypayemt-payments .woocommerce_order_items_wrapper table.woocommerce_order_items thead th {
    text-align: left;
    padding: 1em;
    padding-left: 1em;
    font-weight: 400;
    color: #999;
    background: #f8f8f8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#woocommerce-order-moxypayemt-payments .woocommerce_order_items_wrapper {
    margin: 0;
    overflow-x: auto;
}

#woocommerce-order-moxypayemt-payments .woocommerce_order_items_wrapper table.woocommerce_order_items .item {
    min-width: 200px;
}

#woocommerce-order-moxypayemt-payments .woocommerce_order_items_wrapper table.woocommerce_order_items td {
    padding: 1.5em 1em 1em;
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    border-bottom: 1px solid #f8f8f8;
}

#woocommerce-order-moxypayemt-payments .wc-order-data-row {
    border-bottom: 1px solid #dfdfdf;
    padding: 1.5em 2em;
    background: #f8f8f8;
    line-height: 2em;
    text-align: right;
}

#woocommerce-order-moxypayemt-payments .wc-order-totals {
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
}

#woocommerce-order-moxypayemt-payments .wc-order-data-row {
    line-height: 2em;
    text-align: right;
}

#woocommerce-order-moxypayemt-payments .wc-order-totals .total {
    font-size: 1em !important;
    width: 10em;
    margin: 0 0 0 .5em;
    box-sizing: border-box;
}

#woocommerce-order-moxypayemt-payments .wc-order-totals .amount {
    font-weight: 700;
}

.order_actions .resend-moxipay::after {
    content: "\f172";
}

.order_actions .resend-moxipay::after, .order_actions .view::after {
    font-family: Dashicons;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 1.85;
    margin: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}

.order_actions .resend-moxipay {
    display: block;
    height: 2em !important;
    padding: 0 !important;
    position: relative;
    text-indent: -9999px;
    width: 2em;
}

.export-csv-continer {
    margin-bottom: 7px;
    margin-top: 7px;
}

.export-csv-continer .removeFile{

    cursor: pointer;
    color: firebrick;
}
.w3-progress-container {
    background-color: #c1c1c1;
    height: 1.5em;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.w3-green, .w3-hover-green:hover {
    background-color: #4caf50 !important;
    color: #fff !important;
}
.w3-progressbar {
    background-color: #757575;
    height: 100%;
    line-height: 1;
    position: absolute;
}
.w3-text-white, .w3-hover-text-white:hover {
    color: #fff !important;
}
.w3-center {
    text-align: center !important;
}


.report-status-pending,.report-status-invalidanswer{

    color: #EB8B1F;
}
.report-status-accepted{

    color: #35a25d;
}

.report-status-rejected{

    color: #ec5840;
}